
@{
    ViewBag.Title = "Pagina de usuario regular";
}

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Portal web de trabajos", "PaginaUsuarioNormal", "Users", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Account")</li>
                </ul>
            </div>
        </div>
    </div>

@if (Session["UserID"] != null)
{
    <div class="jumbotron">
        <h1 class="display-4">Buenos dias @Session["Name"].ToString()</h1>
        <p class="lead">Bienvenido a nuestro portal web de trabajos</p>
        <hr class="my-4">
        <p>Crear contactos, ver usuarios registrados y editar anuncios de trabajos</p>
        <a href="/Trabajos/ListaTrabajos" class="btn btn-primary"><h5>Anuncios de trabajo</h5></a>


    </div>
    <p>
        @Html.ActionLink("Salir", "Login")
    </p>
}
else
{
    <div class="jumbotron">
        <h1 class="display-4">No hay usuario Ingresado</h1>
        <p class="lead">Profavor haga login aqui</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" @Html.ActionLink("Login", "Login")
    </div>
}
