@model IEnumerable<PortalWebTrabajos.Models.Trabajos>

@{
    ViewBag.Title = "Index";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Portal web de trabajos", "PaginaUsuarioNormal", "Users", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </div>
</div>


<p style="margin-top: 20px;">
    
</p>

@using (Html.BeginForm("ListaTrabajos", "Trabajos", FormMethod.Get))
{
    <p>
        Buscar por categoria: @Html.TextBox("searchStringUser", ViewBag.CurrentFilter as string, new { @class="form-control" })
        <input class="btn btn-default" style="margin-top: 10px;" type="submit" value="Buscar" />
    </p>
}
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.ActionLink("Lugar", "Index", new { sortOrder = ViewBag.LocSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Compañia", "Index", new { sortOrder = ViewBag.CompSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Category)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Location)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Company)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Position)
    </td>
    <td>
        @Html.ActionLink("Detalles", "Details", new { id = item.JobID }) 
    </td>
</tr>
    }

</table>
