@model IEnumerable<PortalWebTrabajos.Models.Trabajos>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de trabajos</h2>

<p>
    <a class="btn btn-success" @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Position)
        </td>
        <td>
            <a class = "btn btn-primary" @Html.ActionLink("Detalles", "Details", new { id=item.JobID }) 
        </td>
    </tr>
}

</table>
